@page
@model Extreme_Moto_Store.Pages.Admin.Products.UpsertModel


<form method="post" enctype="multipart/form-data">

    <input asp-for="Product.Id" hidden /> @*Important otherwise the index will show out of range*@

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <div class="col-9">
                <h2 class="text-primary pl-3">
                    @*Using a if statement here > If the product id is 0 that mean the product does not exist and it will show create product but if it's not 0 it will show update mean the product exist and open for modifications*@
                    @(Model.Product.Id != 0 ? "Update" : "Create") Product
                </h2>
                <hr />

                @*<div asp-validation-summary="All"></div>  This tag helper will display all the error messages*@

                <div class="mb-3">
                    <label asp-for="@Model.Product.Name"> </label>
                    <input asp-for="@Model.Product.Name" class="form-control" />
                    <span asp-validation-for="@Model.Product.Name" class="text-danger"></span> @*Will show error message using the tag helper*@
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Product.Description"> </label>
                    <textarea asp-for="@Model.Product.Description" class="form-control"></textarea> @*Make sure to use the closing tag*@
                    <span asp-validation-for="@Model.Product.Description" class="text-danger"></span> @*Will show error message using the tag helper*@
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Product.Price"> </label>
                    <input asp-for="@Model.Product.Price" class="form-control" />
                    <span asp-validation-for="@Model.Product.Price" class="text-danger"></span> @*Will show error message using the tag helper*@
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Product.Image"> </label>
                    <input type="file" name="files" id="uploadBox" class="form-control" />      @*Since we are uploading an Image file*@
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Product.CategoryId"> </label>
                    <select asp-for="Product.CategoryId" asp-items="Model.CategoryList" class="form-select">
                        <option disabled selected>-Select Category-</option>
                    </select>
                    <span asp-validation-for="@Model.Product.CategoryId" class="text-danger"></span> @*Will show error message using the tag helper*@
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Product.ItemTypeId"> </label>
                    <select asp-for="Product.ItemTypeId" asp-items="Model.ItemTypeList" class="form-select">
                        <option disabled selected>-Select ItemType-</option>
                    </select>
                    <span asp-validation-for="@Model.Product.ItemTypeId" class="text-danger"></span> @*Will show error message using the tag helper*@
                </div>
            </div>
            <div class="col-3">
                @if (Model.Product.Id != 0)
                {
                    <img src="@Model.Product.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                }
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary" style="width:150px;"> @(Model.Product.Id != 0 ? "Update" : "Create")</button>
            </div>
            <div class="col-auto">
                <a asp-page="Index" class="btn btn-outline-warning" style="width:150px;">Go Back</a>
            </div>
        </div>


    </div>

</form>

@*Client Side Validation*@
@section Scripts{

    @*Rich text editor script*@
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
